# ***DATA TYPES AND STRUCTURE***


# * ***QUESTIONS***

1. What are data structures, and why are they important?

* A data structure is a way of organizing, storing, and managing data so it can be used efficiently. In simple terms, it's like choosing the right container to hold and arrange your data depending on how you want to use it.


Example of Data Structures -

* Arrays/Lists - Store a sequence of elements in order.

* Stacks - Last-In-First-Out structure.

* Queues - First-In-Frist-Out structure.

* Linked List - Elements connected using pointers.

* Trees - Hierarchical structure.

* Graphs - Represent relationships between objects.

* Hash Tables/Dictionaries - Store key-value pairs for fast lookups.

### ***Why Data Structures are Important***

(1) Efficiency - The right data structure makes programs run faster and use less memory.

Examlpe : Searching in a hash table is much faster than searching in a simple list.

(2) Data Management - Helps organize data logically (hierarchies, relationship, etc.)

Example : A file system is organized using a tree structure.

(3) Reusability - Standard data structure can be reused in multiple applications.

(4) Problem Solving - Many algorithms are built on data structures. Choosing the correct one often determines if a solution is feasible.

(5) Scalability - Efficient data structure allow programs to handle large amounts of data smoothly.

2. Explian the difference between mutable and immutable data types with example.

* **Mutable Data Types**  -

Mutable objets can be changed after they are created. If you modify a mutable object, the same memory location is updated instead of creating a new one

Example -

* list

* dict

* set

In [ ]:
numbers = [4, 5, 6]
print("Before:", numbers)

# Modify the list
numbers.append(5)
numbers[0] = 12

print("After:", numbers)

Before: [4, 5, 6]
After: [12, 5, 6, 5]


* **Immutable Data Types** -

Immutable objects cannot be changed after creation. Any modification creates a new object in memory.

Example -

* int

* float

* str

* tuple

* frozenset

In [ ]:

name = "Hello"
print("Before:", name)

# Modify the string

name = name + " World"

print("After:", name)

Before: Hello
After: Hello World


3. What are the main differences between lists and tuples in python?


**(1) Mutability**

* List - Mutable (can be changed: add, remove, update elements).

* Tuple - Immutable (cannot be changed once created).

In [ ]:

# List
my_list = [10, 15, 18]
my_list.append(4)
print("List:", my_list)

List: [10, 15, 18, 4]

In [ ]:

# Tuple
my_tuple = (10, 15, 18)
# my_tuple.append(4)  #Error


**(2) Syntax -**

* List - Defined using[] (square brackets).

* Tuple - Defined using() (parentheses).

In [ ]:

list_example = [1, 2, 3]
tuple_example = (1, 2, 3)

**(3) Performance -**

* Tuples are generally faster than lists because they are immutable and use less memory.

* List are slightly slower due to their flexibility.

**(4) Use Cases -**

* List - When you need a collection of items that can change.

* Tuple - When you need fixed data that should not chnage.

**(5) Functions/Methods -**

* List have many built-in methods: .append(), .remove(), .sort(), etc.

* Tuples have very few methods: mainly .count() and .index().

**In short list use when data will change and tuples use when data is constant and should nat change.**


4. Describe how to dictionaries store data.

* Dictionaries in python store data using a key-value pair system, where each unique kay maps to a specific value. Under the hood, they use a data structure called a hash table for fast lookups, insertions, and deletions.

Here's how it works step by step :

(1) Keys must be hashable -

* When you insert a key into a dictionary, Python calculates its hash value using the built-in hash() function.

* Immutable types like strings, numbers, and tuples (with only immutable elements) are hashable, So they can be dictionary keys.

(2) Hash table storage -

* The hash value determines where the key-value pair should be stored in memory.

* Internally, Python maintains an array (the hash table) where each slot holds a reference to a key-value pair.

(3) Collision handling -

* Sometimes two different keys produce the same hash value(a collision).
* Python resolves this using open addressing (probing nearby empty slots) or by rehashing until it finds a free slot.

(4) Fast access -

* When you look up a key (my_dict["name"]), Python recomputes its hash and jumps directly to the correct slot in the table, making access very fast (on average O(1) time).

(5) Dynamic resizing -

* If the dictionary becomes too full, Python automatically resizes the hash table (creates a larger array and rehashes all keys) to keep performance efficient.

In [ ]:

person = {"name": "Alice", "age": 25, "city": "New York"}

# "name" is hashed to some index, and the value "Alice" is stored there.

# "age" and "city" are hashed to different slots, holding their values.

So dictionaries in Python are like a fast, flexible map between keys and values, powered by hashing.

5. Why might you use a set instead of a list in Python?

* You might use a set instead of a list in Python depending on what you need to do with your data. Here are main reasons:


(1) No duplicate elements -

* A set automatically removes duplicates.

* A list keeps all items, even if they're repeated.

In [ ]:
 num_list = [1, 2, 2, 3]
 num_set = {1, 2, 2, 3}


 print(num_list)
 print(num_set)

[1, 2, 2, 3]
{1, 2, 3}


(2) Faster membership testing -

* Checking if an item exists (in) is much faster in sets (average O(1)) compared to lists (O(n)).

* This is because sets use hash tables, while lists check each element one by one.

In [ ]:
big_list = list(range(1_000_000))
big_set = set(range(1_000_000))

print(999_999 in big_list)
print(999_999 in big_set)

True
True


(3) Set Operation -

* Sets support mathematical operations like union, intersection, and difference, which lists don't provide directly.

In [ ]:

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))
print(a & b)
print(a - b)

{1, 2, 3, 4, 5}
{3}
{1, 2}


(4) Order doesn't matter -

* If you don't care about order and just need unique items with fast lookups, a set is the better choice.

* Lists preserve order (and now, since Python 3.7+, dictionaries too).


6. What is a string in Python, and how is it different from a list?

* A string is a sequence of characters enclosed in single quotes('), double quotes("), triple quotes(''' or """).

Example -

In [ ]:
my_string = "Hello, World!"
print(my_string)

Hello, World!

# * **How is a String Different from a List?**

**Data Type -**

* String - Sequence of Characters

* List - Sequence of any data type ( number, string, objects, etc).

**Mutability -**

* string - Immutable cannot be changed after creation .

* List - Mutable elements can be added, removed, or changed .

**Element Type -**

* String - Always characters (like'a', 'b', '1') .

* List - Can hold mixed data types([1, "apple", True]) .

**Methods -**

* String - Lots of text-processing methods(.upper(), .lower(), .replace(), .split()) .

* List - Lots od list-manipulation methods(.append(), .remove(), .sort()) .

**Concatenation -**

* String - Use + to join strings .

* List - Use + or .extend() to join lists .


**Iteration -**

* String - Can iterate character by character .

* List - Can iterate element by element .

In [ ]:
 # Mutability Difference

 # String (immutable)
s = "hello"
s = "H" + s[1:]
print(s)

# List (mutable)

l = ["h", "e", "l", "l", "o"]

l[0] = "H"
print(l)

Hello
['H', 'e', 'l', 'l', 'o']


7. How do tuples ensure data integrity in Python?

Tuples in Python help ensure data integrity because they are immutable.

* Once a tuple is created, its elements cannot be changed, added, or removed.

* This immutability ensure that the dsata stored inside a tuple stays the same throughout the program's execution.

**How this ensures data integrity :**

**(1) Prevents accidental modification -**

If you store important data in a tuple, you can be sure that no function or block of code will accidentally overwrite ar alter it.

In [ ]:
numbers = (1, 2, 3)


**(2) Safe tp use as dictionary keys or set elements** -

Since tuples cannot change, they are hashable (if they cantain only immutable objects). This makes them reliable keys in dictionaries or members of sets, unlike lists.

In [ ]:

coordinates = (10, 20)
location_data = {coordinates: "New York"}

**(3) More predictable and consistent -**
 Data stored in tuples remains fixed and consistent.

Example -  Storing configuration values, database records, or constant collections in tuples ensures they aren't accidentally
astered.

**In short, Tuples ensure data integrity by being immutable- once defined the data cannot be changed, protecting it from accidental or unauthorized modifications.**


8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores key-value pairs allows very fast lookups, insertions, and deletions.

* It uses a hash function to convert a key(like "name") into an integer called a hash value.

* This hash value is then mapped to a specific index in an array(bucket) where the value is stored.

**How does this relate to Python dictionaries?**

Python's bulit-in dict(dictionary) is implemented using a hash table under the hood.

(1) When you do:

In [ ]:
student = {"name": "Alice", "age": 21}

* "name" and "age" are the keys.

* "Alice" and 21 are the values.

(2) Python takes each key (e.g., "name") and runs it through a hash function:

In [ ]:
hash("name") # produces an integer


(3) That hash value determines where in memory(in the hash table) the corresponding value is stored.


(4) When you access the dictionary like student["age"], Python:

* Recomputes the hash of "age" .

* Finds the memory slot using that hash.

* Retrieves the value 21 directly, without scanning the whole dictionary.

 9. Can lists contain different data types in Python?

 In Python, lists can cantain elements of different data types. Unlike arrays in some other programming languages (which require all elements to be of the same type),Python lists are very flexible.

 Example -

In [ ]:
my_list = [10, "hello", 3.14, True, [1, 2, 3]]

print(my_list)

[10, 'hello', 3.14, True, [1, 2, 3]]


Here, the list contains:

* An integer (10)

* A string ("hello")

* A float (3.14)

* A boolean (True)

* Anthor list ([1, 2, 3])

So yes, a single list can store a mix of numbers, strings, booleans, and even other collections.

10. Explain why strings are immutable in Python.

**(1) Memory efficiency (string interning) -**

* Pyhton often reuses strings (especially small or frequently used ones) to save memory.

* If stirngs were mutable, changing one would unintentionally
change all other references to it.

* Example -

In [ ]:
a = "hello"
b = "hello"
print(a is b)

True


**(2) Hashing and dictionary keys -**

* Strings are commonly used as keys in dictionaries and elements in sets.

* Dictionary keys must be immutable (so their hash values remain stable).

* If strings were mutable, changing a key after insertion would break dictionay lookups.

**(3) Safety and predictability -**

* Immutability ensures that functions working with strings don't accidentally modify them.

* Instead, operations like concatenation or slicings create new strings, making the behavior more predictable.


**(4) Thread safety -**

* In multi-threaded programs, immutability prevents unexpected changes when multiple threads access the same string.

In [ ]:
s = "python"
# s[0] = "p" # This line caused the error

# Instead you create a new string:

s = "python"
s = "p" + s[1:]
print(s)

python


11. What advantages do dictionaries offer over lists for certain tasks?

**Advantages of Dictionaries over Lists :**

(1) Fast Lookups (O(1) average time) -

* Lists - To find an element, Python may have to search through the entire list O(n) time complexity .

* Dictionaries - Use a hash table, so looking up a value by its key is much faster (average O(1) time) .

In [ ]:
# Using a list

students = ["Alice", "Bob", "charlie"]
print("charlie" in students)

# Using a divtionary

students_dict = {"Alice": 1, "Bob": 2, "charlie": 3}
print("charlie" in students_dict)

True
True


(2) Key- Value pair storage -

* Lists - Store items in a simple sequence (indexed by position) .

* Dictionaries - Store data as key-value pairs, making data more descriptive and easier to arganize .

Example -

In [ ]:
# List of student info (confusing, rely on index)

student1 = ["Alice", 20, "Math"]

# Dictionary (clear, descriptive)

student1 = {"name": "Alice", "age": 20, "course": "Math"}


**(3) No Need for Index Positions -**

* Lists - You access elements by numeric index (list[0], list[1]) .

* Dictionaries - You can access elements directly by meaningful keys (dict["name"]) .

This makes code more readable and less error-prone .

**(4) Avoids Duplicates in keys -**

* Lists - Can contain duplicate elements .

* Dictionaries - Keys are unique, preventing accidental duplication .

**(5) Flexibility in Data Modeling -**

* Dictionaries are excellent for representing real-world structured data (like objects, records, or JSON) .

* Lists are better for ordered collections where the podition matters .

12. Describe a scenario where using a tuple would be preferable over a list.

A tuple is preferred over a list in situations where the data should be fixed, read-only, and not modified after creation.

### ***Scenarios where tuples are better than list :-***

(1) Storing Constant Data (Data Integrity) -

* If you want to ensure the data cannot be changed accidentally, use a tuple .

* Example -

In [ ]:
# Days of the week

days = ("mon", "Tue", "Wed", "Thu", "Fri", "Sat", "sun")

This prevents anyone from modifying or adding another day .

(2) Dictionary Keys or Set Elements -

* List are Mutable, so they cannot be used as dictionary keys or set elements .

* Tuples are immutable, so they can be used as keys .

In [ ]:
# Using tuples as dictonary keys

locations = {
    (28.6139, 77.2090): "New Delhi",
    (40.7128, -74.0060): "New york"
}

(3) Function Arguments (Fixed Grouping) -

* Sometimes ypu want to group multiple values together and ansure they remain unchanged .

* Example -

In [ ]:
def get_student():
  reture("Alice", 20, "Math")

  student = get_student()
  print(student )

(4) Performance -

* Tuples are slightly faster than lists for iteration and storage (since they are immutable and lighter) .

* Useful when handling large amounts of constant data .

(5) Semantic Meaning -

* Using a tuple can signal that the data  is fixed and should not change .

* Example -

In [ ]:
print = (10, 20) # Coordinates shouldn't change


13. How do sets handle duplicate value in Python ?

In Pyhton , set automatically remove duplicates .

**How sets handle duplicate:-**

* A set is an unoedered collection of unique elements .

* If you try to add duplicate values, Python keeps only one copy of that value .

Example -

In [ ]:
my_set = {1, 2, 2, 3, 3, 4, 5, 5,}
print(my_set)

{1, 2, 3, 4, 5}

***Adding Duplicate -***

In [ ]:
s = {10, 20, 30}
s.add(20)
print(s)

{10, 20, 30}

No error occurs, but the duplicate is simply ignored .

14. How does the "in" keyword work differently for list and dictionaries ?

(1) Using in with a list -

* For lists, the in keyword checks weather a value exists as an element inside the list .

* It performs a linear search through the list.

In [ ]:
numbers = [10, 20, 30, 40]
print(20 in numbers)
print(50 in numbers)

True
False

(2) Using in with a Dictionary -

* For dictionaries, the in keyword checks whether a key exists in the dictionary, not the value.

* It works efficiently because dictionaries use hashing for keys .

In [ ]:
student = {"name": "Alice", "age": 22, "grade": "A"}

print("name" in student)
print("Alice" in student)

True
False

***Key Difference:-***

* List - in checks if an items is an element.

* Dictionary - in checks if an item is a key (not value by default) .


15. Can you modify the elements of a tuple ? Explain why or why not .

No, you cannot modify the elements of a tuple in Python.

### **Reason :-**

* Tuples are immutable data structures .

* Once a tuple is created, its elements cannot be changed, added, or removed .

* This immutability means you cannot do operations like tuple[0] = 10, which would raise a TypeError .

Example -

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10 #n  TypeError : 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment


16. What is a nested dictionary, and give an example of its use case ?

A nested dictionary in Python is a dictionary where the values themselves are dictionaries .

It's like having a dictionary inside another dictionary, allowing you to represent more complex, structured data .

***Example of a Nested Dictionary :-***

In [ ]:
students = {
    "101": {"name": "Alice", "age": 20, "marks": {"math": 88, "science": 92}},
    "102": {"name": "Bob", "age": 21, "marks": {"math": 75, "science": 55}},
    "103": {"name": "Charlie", "age": 22, "marks": {"math": 65, "science":95}}

}

student_values = list(students.values())
print(student_values)

[{'name': 'Alice', 'age': 20, 'marks': {'math': 88, 'science': 92}}, {'name': 'Bob', 'age': 21, 'marks': {'math': 75, 'science': 55}}, {'name': 'Charlie', 'age': 22, 'marks': {'math': 65, 'science': 95}}]

Here:

* The outer dictionary uses student IDs ("101", "102", "103") as keys.

* The values are inner dictionaries holding details like name, age, and another nested dictionary marks .


17. Describe the time complexity of accessing elements in a dictionary .

In Python, dictionaries are implemented as hash tables, and the average time complexity for accessing an element is -

* O(1) - constant time, on average

### ***Explanation:***

(1) When you access an element like my_dict[key], Pythom:

* Computes the hash of the key .

* Uses this hash to find the bucket(index) in the underlying hash table .

* Directly retrieves the value stored at that location .

since hashing and constant-time operations, lookups are usually O(1) .

18. In what situations are lists preferred over dictionaries ?

Although dictionaries are very powerful, there are situations where lists are preferred because of their simplicity and efficiency.

### ***Situations where lists are better than dictionaries:-***

(1) When order matters -

* Lists maintain insertion order naturally (and support indexing) .

* Example :  Keeping track of task in the order they were added .

In [ ]:
tasks = ["task1", "task2", "task3"]
print(tasks[0:2])

['task1', 'task2']

(2) When data is sequential or indexed by position -

* If you just need elements by their position(0,1,2...), list are ideal .

* Example : Storing scores for players in order .

(3) When keys are not needed -

* If you don't require identifiers(keys), a list is simpler .

* Example : A list of student names .

(4) When duplicate values are allowed -

* List can store duplicates, but dictionary keys must be unique .

* Example : Recording votes for candidates .

(5) When memory efficiency matters -

* Lists usually consume less memory than dictionaries because dictionaries store both keys and value with hashing overhead .

(6) When frequent iteration is needed -

* Iterating through a list is slightly faster than through a dictionary(since dictionaries involve hashing) .

* Example : Processing a long list of numbers .

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

* Before Python 3.7, dictionaries did not guarantee that items would be stored in the same order they were inserted .

* This is because dictionaries are based on hash tables, and hashing scatters keys across memory for last lookup .

* So, the order in which you inserted items was not necessarily the order in which they were stored internally .

**Change in Python 3.7+ :-**

* Starting with python 3.7, and officially guaranteed in python 3.8, dictionaries preserve insertion order .

* This means if you insert items in a certain squence, iterating over the dictionary will give them back in that same order .

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
print(d)

{'a': 1, 'b': 2, 'c': 3}

***How ordering (or lack of it) affects data retrival :-***

(1) Key-based retrival is unaffected -

* Retrieving by key (d["b"]) has always been O(1) on average, regardless of order .
* Hashing ensures you don't need to care about where the item is stored .

(2) Iteration behavior changes -

* Before Python 3.7, you couldn't rely on iteration order (for k in d:) .

* After Python 3.7, you can safely rely on insertion order when looping through dictionaries .

(3) No positional access -

* Unlike lists, you cannot retrieve elements by index (e.g., d[0] ) .

* You must use keys, since dictionaries are designed for key-value lookups, not positional access .

20. Explain the difference between a list and a dictionary in terms of data retrival .

List Retrieval -

* Access by index (position) - O(1) (constant time) .

* Example -

In [ ]:
numbers = [10, 20, 30, 40]
print(numbers[2])

30

* To find an elements by value, Python must search through the list, which is O(n) (linear time) .

In [ ]:
print(30 in numbers)

True

Dictionary Retrieval -

* Access by key-O(1) on average (thanks to hanhling) .

* Example -

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
print(student["age"])

20

# ***Practical Question -***

1. Write a code to creat a string with your name and print it .

In [ ]:
# Creat a string with your name

name = "Nakul Kumar verma"

City = "Meerut"

print("My name is", name , "I am from", City)

My name is Nakul Kumar verma I am from Meerut

2. Write a code to find the length of the string "Hello World" .

In [ ]:
# Code to find the length of the string "Hello World"

text = "Hello World"

length = len(text)

print("The length of the stirng is:", length)

The length of the stirng is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming" .

In [ ]:
# Code to slice the first 3 characters from the stirng "Pyhton Programming"

text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[0:3]

print("The first 3 characters are:", sliced_text)

The first 3 characters are: Pyt

4. Write a code to convert the string "hello" to uppercase .

In [ ]:
# Code to convert the string "hello" to uppercase

text = "hello"

# convert to uppercase
upper_text = text.upper()

print("Uppercase string:", upper_text)

Uppercase string: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "i like apple" .

In [ ]:
# Code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

print("Updated string:", new_text)

Updated string: I like orange

6. write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Code to create a list with numbers 1 to 5 and print it.

numbers = []
i = 1
while i <= 5:
  numbers.append(i)
  i += 1
  print(numbers)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list[1, 2, 3, 4] .

In [ ]:
# Code to append the number 10 to the list[1, 2, 3, 4]

numbers = [1, 2, 3, 4]

# Append 10 tp the list

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the numbers 3 from the list[1, 2, 3, 4, 5] .

In [ ]:
# Code tp remove the number 3 from the list[1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

# Remove 3 from the list

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a', 'b', 'c', 'd'] .

In [ ]:
# code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']

# Access the second element

second_element = letters[1]

print(second_element)

b

10. Write a code to reverse the list[10, 20, 30, 40, 50].

In [ ]:
# Code to reverse the list[10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]

# Reverse the list

numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it .

In [ ]:
# Code to create a tuple with the elements 100, 200, 300 and print it .

# Create a tuple

numbers = (100, 200, 300)

print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple('red', 'green', 'blue', 'yellow') .

In [ ]:
# Code to access the second-to-last element of the tuple('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element

second_last = colors[-2]

print(second_last)

blue

13. Write a code to find the minimum number in the tuple(10, 20, 5, 15) .

In [ ]:
# Code tp find the minimum number in the tuple(10, 20, 5, 15)

numbers = (10, 20, 5, 15)

# Find minimum number
minimum = min(numbers)

print(minimum)

5

14. Write a code to find the inbex of the element "cat" in the tuple('dog', 'cat', 'rabbit') .

In [ ]:
# Code to find the index of the element "cat" in the tuple('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')

# Find index of "cat"
index_of_cat = animals.index("cat")

print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Code to create a tuple containing three different fruits and check "kiwi" is in it.

# Create a tuple of fruits

fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple

if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Code to Create a set with the elements 'a', 'b', 'c' and print it

# Create a set

my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set{1, 2, 3, 4, 5} .

In [ ]:
# Code tp clear all elements from the set{1, 2, 3, 4, 5}

numbers = {1, 2, 3, 4, 5}

# clear all elements

numbers.clear()

print(numbers)

set()

18. Write a code to remove the element 4 from the set{1, 2, 3, 4} .

In [1]:
# Code to remove the element 4 from the set{1, 2, 3, 4}

my_set = {1, 2, 3, 4}

# Remove element 4

my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets{1, 2, 3} and {3, 4, 5} .

In [3]:
# Code to find the union of two sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find union using union() method

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets{1, 2, 3} and {2, 3, 4} .

In [4]:
# Code to find the intersection of two sets

set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find intersection using intersection() method

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

21. Write a code to creat a dictionary with the key "name", "age", and "city", and print it .

In [5]:
# Code to creat a dictionary with the key

person = {
    "name": "Nakul kumar verma",
    "age": 25,
    "city": "Meerut"
}


print(person)

{'name': 'Nakul kumar verma', 'age': 25, 'city': 'Meerut'}

22. Write a code to add a new key-value pair "country":"USA" to thw dictionary{'name':'john','age':25} .

In [6]:
# Code to add a new-key value pair

person = {'name': 'john', 'age' : 25}

# Add new key-value pair

person['country'] = 'USA'

print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age': 30} .

In [7]:
# Code to access the value associated with the key " name "

person = {'name': 'Alice', 'age': 30}

# Access value using key

name_value = person['name']

print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age':22, 'city':'New York'} .

In [8]:
# Code to remove the key "age" from the dictionary.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"

person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'paris'} .

In [12]:
# Code to check if the key "city" exists in the dictionary .

person = {'name': 'Alice', 'city': 'paris'}

# Check if "city" key exists

if "city" in person:
  print("key 'city' exists in the dictionary.")

else:

    print("key 'city' does not exists in the dictionary.")

key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and dictionary, and print them all .

In [13]:
# Create a List

my_list = [1, 2, 3, 4, 5]

# Create a tuple

my_tuple = (10, 20, 30, 40, 50)

# Create a dictionary


my_dict = {"name": "Alice", "age": 25, "city": "paris"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'paris'}

27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result.

In [15]:
# Create a List of 5 random numbers between 1 to 100

import random

numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the List in ascending order

numbers.sort()

print("Sorted random numbers:", numbers)

Sorted random numbers: [2, 20, 41, 66, 76]

28. Write a code to  create a list with strings and print the element at the third index .

In [16]:
# Create a List with Strings

fruits = ["apple", "bsnana", "cherry", "mango", "kiwi"]

# Print the element at the third index

print("Element at index 3:", fruits[3])

Element at index 3: mango

29. Write a code to combine two dictionary into one and print the result .

In [18]:
# Code to combine two dictionary into one

# Create two dictionaries

dict1 = {"a": 20, "b": 25}
dict2 = {"c": 30, "d": 35}

# Combine dictionaries


combine_dict = {**dict1, **dict2}

print("Combined Dictionaries:", combine_dict)

Combined Dictionaries: {'a': 20, 'b': 25, 'c': 30, 'd': 35}

30. Write a code to convert a list of strings into a set.

In [19]:
# Code to convert a list of strings into a set

# Create a list of strings

my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set

my_set = set(my_list)

print("Set:", my_set)

Set: {'cherry', 'banana', 'apple'}